.button {
	display: inline-block;
	border: none;
	color: var(--fontClr);
	background-color: transparent;
	text-decoration: none;
	padding: 15px 45px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	transition: all 0.1s ease;
	cursor: pointer;

	&:focus,
	&:hover {
		text-decoration: none;
		color: var(--primaryClr);
	}

	&:hover {
		background-color: rgba(var(--primaryClr), $alpha: 0.9);
	}

	&:active {
		background-color: rgba($color: var(--primaryClr), $alpha: 1.1);
	}
}
