$mainFont: 'Nunito Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$darkBlue: hsl(209, 23%, 22%); //  (Dark Mode Elements)
$veryDarkBlueBg: hsl(207, 26%, 17%); // (Dark Mode Background)
$veryDarkBlue: hsl(200, 15%, 8%); //  (Light Mode Text)
$darkGray: hsl(0, 0%, 52%); // (Light Mode Input)
$veryLightGray: hsl(0, 0%, 98%); // (Light Mode Background)
$white: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)

$primaryClr: $darkBlue;
$secondaryClr: $darkGray;

$showImage: true;
$homeImage: url(../images/home-bg-min.jpg);
$backgroundOpacity: 0.85;

$fwNormal: 400;
$fwBold: 700;

$min_vw: 320px;
$max_vw: 2560px;
$min_font: 12px;
$max_font: 50px;
